<!-- sono in phygital_custom_page.html.twig -->



<div class="row">
  <div class="desc">carica phygital/phygital_libraries</div>
  <div class="col col-md-4"><p>test_var: {{ test_var }}</p></div>
  <div class="col col-md-8"><div>eccomi qui</div></div>
  <div class="test">ciccio pasticcio</div>
  <a href="/webgl" class="button">Open WebGL Application</a>
  <div class="right poi_sferiche" id="map" style="height:700px;">qui va la mappa</div>
</div>
